/* Place CSS styles here */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #dcdc6a;
    color: #800080;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a {
    color: #590259;
}

a:hover {
    color: #037a03;
    cursor: pointer;
}

a:focus {
    outline: 2px auto #fff;
}

h1,
h2,
h3,
h4,
h5,
h6  {
    color: pink;
}

.contact h1 {

}

img {
    width: 250px;
    margin-right: 16px;
    border: 3px solid #5b3416;
}

p {
    text-align: center;
}

div {
    background-color: cyan;
    text-align: center;
    padding: 50px;
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 40px auto;
    border: 3px solid #5b3416;
    border-radius: 20px;
}

.fencing-wrapper {
    background-color: #00c200;
}

div.fencing-wrapper {
    background-color: pink;
}

.money-wrapper img {
    border: 10px solid red;
}

.nav a {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    margin-right: 8px;
}

.bacon {
    font-size: 24px;
}

.bilt {
    font-size: 50px;
}

.pork {
    font-size: 30px;
    color: blue;
}

.brown-fox {
    background-color: #262694;
    color: #fff;
}

.dog-pic {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* ABOUT PAGE  */


/* CONTACT PAGE */